.profileCover {
  margin-top: 3vh;
  position: relative;
}

.profileCover img {
  height: 11.5vw;
  width: 52vw;
  object-fit: cover;
  border-radius: 8px;
}

.profileAvatar .css-1wlk0hk-MuiAvatar-root {
  border-radius: 8px;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  position: absolute;
  top: 7vw;
  left: 1.5vw;
}

.profileInfo {
    width: 52vw;
    margin-top: 4.5vh;
    padding-left: 1.5vw;
    display: flex;
    justify-content: space-between;
}

.profileUser h2 {
    font-size: larger;
}

.profileUser p {
    font-size: 0.9rem;
}

.followersAndFollows {
    margin-top: 0.3vh;
    display: flex;
    gap: 0.5vw;
}

.userTable {
  margin-top: 1.5vh;
  width: 51vw;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--light-blue) !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: var(--light-blue) !important;
}