.postUsername,
.postUserContainer,
.postUser,
.postOptions,
.postOptions div {
  display: flex;
  gap: 0.5vw;
}

.postUserContainer {
  width: 45vw;
  margin: auto auto 8vh auto;
}

.postUserContainer .css-1wlk0hk-MuiAvatar-root {
  border-radius: 8px;
  cursor: pointer;
}

.postUser {
  justify-content: space-between;
  width: 40.5vw;
  align-items: center;
}

.postInfoContainer {
  position: relative;
}

.postInfo p {
  font-size: 0.9rem;
  opacity: 75%;
  margin: 1.5vh auto;
}

.postInfo img {
  width: 40vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 8px;
}

.postOptions {
  position: absolute;
  right: 0.7vw;
  margin-top: 2vh;
  cursor: pointer;
}
